@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.mapTitle {
    padding: 6px 8px;
    /* font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px; */
}
.mapTitle h4 {
    margin: 0 0 5px;
    color: #777;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offcanvas-size-sm {
    --bs-offcanvas-width: min(95vw, 200px) !important;
}

#legend > p, img {
    /* padding-left: 30px; */ 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .offcanvas-body {
    height: 1024px;
    top: 50%;
} */ 

/* .header {
    z-index: 9999;
}

#weri-logo {
    width: 200px;
    height: 200px;
} */

.bs-btn-group {
    margin: 20px;
}

.btn-group { 
    z-index: 9999;
    float: right;
}

.offcanvas-title {
    text-align: center;
}

.offcanvas-size-xl {
    --bs-offcanvas-width: min(95vh, 450px) !important;
}

/* Style configuration for the title and location section of stats panel */
.stats-location {
    font-style: italic;
    padding: 0;
    margin: 0;
}

.stats-row {
    display: flex;
}

.stats-col {
    flex: 50%;
    padding: 5px;
}

.stats-text {
    /* font-weight: bold; */
    font-size: 15px;
    padding: 3px;
    margin: 0;
}

.stats-num {
    font-size: 15px;
    text-align: right;
    padding: 3px;
    margin: 0;
}

/* .full-stats {
    font-size: 10px;
} */

.stats-text-full {
    font-size: 13px;
    padding: 3px;
    margin: 0;
}

.stats-num-full {
    font-size: 13px;
    text-align: right;
    padding: 3px;
    margin: 0;
}

button {
    font-style: italic;
}

/* Hides tooltips on page load */
.leaflet-tooltip {
    visibility: hidden;
  }

.plot-btn-container {
    float: right;
}

.legend {
    padding: 5px;
    font: 12px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 8px;
    color: #555;
}

.legend p {
    /* line-height: 3px; */
    /* margin-bottom: 10px; */
}

.legend h4 {
    font-size: 14px;
    text-align: center;
}